WebApplication1/App_Data/RecordSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Record">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                 <xs:element name="content" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>