WebApplication1/App_Data/RecordSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Record">
		<xs:complexType>
			<xs:all>

				<xs:element name="name" minOccurs="1" nillable="false">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="content" minOccurs="1" nillable="false">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
